<footer>
    <div class="footer-data">
        
        <div class="footer-projects">
            <a href="/obras" style="text-decoration: none;color: black;">
                <p class="footer-projects-title">Obras</p>
                <p class="subtitle">En ejecucion</p>
                <p class="subtitle">Finalizadas</p>
            </a>
        </div>

        <div class="footer-contact">
            <p class="footer-contact-title">Contacto</p>
            <div >
                <i class="fa-regular fa-envelope"></i>
                <p>hoenauconstrucciones@gmail.com</p>
            </div>
            <div>
                <a href="https://wa.me/+5491159749673?text=Quiero%20consultar%20por..." style="text-decoration: none;color: black;"><i class="fa-solid fa-phone"></i></a>
                
                <a href="https://wa.me/+5491159749673?text=Quiero%20consultar%20por..." style="text-decoration: none;color: black;"><p>+54 9 1159749673</p></a>    
            </div>
        </div>
        

        <div class="footer-networks">
            <p> Red Social</p>
            <div>
                <a href="" style="text-decoration: none;color: black;"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

   <div>
    
</footer>
<div class="footer-contenedor">
    <div class="footer-next">
    <a href="/">
        <img src="/images/logo.png" alt="">
    </a>
        <p>Copyright © 2022-HOENAU CONSTRUCCIONES</p>
    </div>
</div>