
<header>
    <div id="preHeader">
        <a href="/">
                <img src="/images/logo.png" alt="">
            </a>
            <div class="contenedor">
              
            </div>
    </div> 
   
    <div class="coHeader">
        <div class="icono-menu">
            <i class="fa-solid fa-bars" id="icono-menu"></i>
        </div>
        <div class="cont-menu active" id="menu"> 
            <ul>
                <a href="/nosotros" style="text-decoration: none;color: black;"><li>EMPRESA</li></a>
                <a href="/obras" style="text-decoration: none;color: black;"><li>OBRAS</li></a>
                <a href="/#contactoID" style="text-decoration: none;color: black;"><li>CONTACTO</li></a>
                
            </ul>
        </div>
        
<!-- --- desktop- -->
        <div class="desktop"> 
            <a href="/nosotros" style="text-decoration: none;color: black;"><h2>EMPRESA</h2></a> 
            <a href="/obras" style="text-decoration: none;color: black;"><h2>OBRAS</h2></a> 
            <a href="/#contactoID" style="text-decoration: none;color: black;"><h2>CONTACTO</h2></a> 
           
        </div>
      
    </div> 
</header>